.landing-main6{
    background-color: #FBFBFB;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 3rem 2rem;
}

.landing-main6-catalog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 16%;
}

.landing-main6-catalog-number{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4rem;
    color: #000000;
}

.landing-main6-catalog-head{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 2rem;
    color: #000000;
}

.landing-main6-catalog-bio{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #000000;
    text-align: center;
}

@media screen and (max-width:1000px){
    .landing-main6-catalog{
        width: 20%;
    }
}

@media screen and (max-width:950px){
    .landing-main6-catalog{
        width: 100%;
    }
    .landing-main6{
        background-color: #FBFBFB;
        display: grid;
        /* grid-template-columns: repeat(2, 1fr);  */
        grid-template-columns: auto auto auto;
        grid-gap: 2rem; /* Gap between grid items */
        padding: 3rem 2rem;
    }
}

@media screen and (max-width:550px){
    .landing-main6-catalog{
        width: 100%;
    }
    .landing-main6{
        background-color: #FBFBFB;
        display: grid;
        /* grid-template-columns: repeat(2, 1fr);  */
        grid-template-columns: auto auto;
        grid-gap: 1rem; /* Gap between grid items */
        padding: 3rem 1rem;
    }
}