.footer-main {
  background: url("../../public/assets/backgrounds/FooterBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem 2rem 0rem;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.footer-inner-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.footer-inner-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-top: 2rem;
}

.footer-inner-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  border: 1px solid #fff;
  border-top: none;
  border-left: none;
  padding-bottom: 2rem;
}

.address-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.address-text {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 1rem;
  width: 70%;
}

.top-left-head {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.5rem;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.footer-inner-top-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
  padding-left: 5rem;
}

.company-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.services-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.company-footer-head {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Playfair Display", serif;
    font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.company-footer-text-wrapper {
  margin: 0.6rem 0rem;
}

.company-footer-text {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
}

.services-footer-head {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.services-footer-text-wrapper {
  margin: 0.6rem 0rem;
}

.services-footer-text {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  height: 5vh;
  margin: 0.4rem 0rem;
  cursor: pointer;
}

.footer-inner-bottom span {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.footer-email {
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

@media only screen and (max-width: 830px) {
  .footer-inner-top-left {
    width: 35%;
  }

  .footer-inner-top-right {
    width: 55%;
    padding-left: 2rem;
  }

  .company-footer-head {
    font-size: 1.2rem;
  }

  .services-footer-head {
    font-size: 1.2rem;
  }

  .company-footer-text {
    font-size: 0.8rem;
  }

  .services-footer-text {
    font-size: 0.8rem;
  }

  .top-left-head {
    font-size: 1.2rem;
  }

  .address-text {
    font-size: 0.8rem;
  }

  .footer-icon {
    height: 4vh;
    margin: 0.4rem 0rem;
  }

  .footer-inner-bottom span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 630px) {
  .footer-icon {
    height: 3vh;
    margin: 0.4rem 0rem;
  }

  .footer-inner-top {
    flex-direction: column;
  }

  .footer-inner-top-left {
    width: 100%;
    border-right: 0rem;
  }

  .footer-inner-top-right {
    width: 100%;
    padding: 1rem 0rem;
  }

  .inner-top-left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-inner-bottom span {
    font-size: 0.5rem;
  }
}