.landingMain5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 0rem;
    padding-bottom: 10rem;
    background-color: #fff;
    background-image: url('../../../public/assets/backgrounds/LandingFiveBg1.png'), url('../../../public/assets/backgrounds/LandingFiveBg2.png');
    background-repeat: no-repeat;
    background-position: 100% -40%, 0% 150%;
    background-size: 35%, 40%;
  }
  
  .landingMain5Head{
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1rem;
  }
  
  .landingMain5Tag{
      font-family: "Playfair Display", serif;
      font-weight: 700;
      font-size: 3rem;
      width: 60%;
      text-align: center;
  }

  .landingMain5ServicesCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landingMain5ServiceLeft{
    width: 80%;
    background-image: url('../../../public/assets/backgrounds/LeftServiceBg.png');
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    padding-right: 1rem;
    border-radius: 1rem;
  }

  .landingMain5ServiceRight{
    width: 80%;
    background-image: url('../../../public/assets/backgrounds/RightServiceBg.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    padding-right: 2rem;
    border-radius: 1rem;
    background-size: 85%;
    z-index: 10;
  }

  .landingServiceDataCont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
  }

  .landingMain5ServiceLeftTag{
    font-size: 1.2rem;
    color: #212529;
    font-weight: 700;
    font-family: 'Avenir Next Condensed', sans-serif;
  }

  .landingMain5ServiceLeftHead{
    color:#343A40;
    font-weight: 700;
    font-family: 'Avenir Next Condensed',sans-serif;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .landingMain5ServiceLeftBio{
    color:#000000;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Avenir Next', sans-serif;
    line-height: 2rem;
    text-align: justify;
  }

  .landingMain5ServiceRightTag{
    font-size: 1.2rem;
    color: #F1F1F1;
    font-weight: 700;
    font-family: 'Avenir Next Condensed', sans-serif;
  }

  .landingMain5ServiceRightHead{
    color:#F1F1F1;
    font-weight: 700;
    font-family: 'Avenir Next Condensed',sans-serif;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .landingMain5ServiceRightBio{
    color:#F1F1F1;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Avenir Next', sans-serif;
    line-height: 2rem;
  }

  .landingMain5ServiceLeftButton{
    background-color: #3BAD67;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 3rem;
  }

  .landingMain5ServiceLeftButtonText{
    color:#F1F1F1;
    font-weight: 700;
    font-family: 'Avenir Next',sans-serif;
    font-size: 1rem;
    text-decoration: none;
  }

  .landingMain5ServiceRightButton{
    background-color: #F1F1F1;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 3rem;
  }

  .landingMain5ServiceRightButtonText{
    color: #000;
    font-weight: 700;
    font-family: 'Avenir Next',sans-serif;
    font-size: 1rem;
    text-decoration: none;
  } 
  .landingServiceImg{
    height: 20rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    z-index: 1;
 }

  @media screen and (max-width:1000px){
    .landingServiceImg{
       height: 15rem;
       border-radius: 1rem ;
    }
    .landingMain5ServiceRight{
      background-color: #3BAD67;
      padding: 1rem;
    }
    .landingMain5ServiceLeft{
      background-color: #3BAD67;
      padding: 2rem;
    }

  .landingServiceDataCont{
    width: 70%;
  }
  }

  @media screen and (max-width:650px){
    .landingMain5Tag{
      width: 80%;
  }
    .landingServiceImg{
       height: 15rem;
       margin-bottom: 2rem;
    }
    .landingMain5ServiceRight{
      flex-direction: column;
      background-color: #3BAD67;
      padding: 2rem;
    }
    .landingMain5ServiceLeft{
      flex-direction: column;
      background-color: #3BAD67;
      padding: 2rem;
    }

    .landinServiceDataCont{
       width: 100%;
    }
    .landingMain5ServiceRightButton{
      align-self: center;
    }

    .landingMain5ServiceLeftButton{
      align-self: center;
      background-color: #F1F1F1;
    }
    .landinMain5ServiceLeftButton span{
      color: black;
    }
    .landingMain5ServiceLeftTag{
      color: #F1F1F1;
    }
  
    .landingMain5ServiceLeftHead{
      color:#F1F1F1;
    }
  
    .landingMain5ServiceLeftBio{
      color:#F1F1F1;
    }
  }